body {
    font-family: Arial, sans-serif;
    background-color: #f3e5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9c27b0;
    color: white;
    padding: 10px;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

#dataHoraAtual {
    font-size: 1.5em;
    color: #6a1b9a;
    margin-top: 20px;
}
